/* 카테고리별 추천 광고상품 */
html{
    position: relative;
    width: 1280px;
    height: 2000px;
}
.next{
 
    font-size: 14px;
    font-weight: 700px;
    line-height: 120%;
    position: absolute;
    width: 62px;
    height: 17px;
    left: 24px;
    top: 84px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.33638 5L0 0.917474L0.974524 0L5.79817 4.54126C6.06728 4.79462 6.06728 5.20538 5.79817 5.45874L0.974524 10L0 9.08253L4.33638 5Z' fill='%23929292'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 54px 4px;
    color: var(--color-gray-700);
}   

h1{
    position: absolute;
    width: 246px;
    height: 56px;
    left: 240px;
    top: 100px;

}

h2{
 
}

.main{
    position: absolute;
    width: 1022px;
    height: 634px;
    left: 0px;
    top: 0px;
    border-top: 1.5px solid var(--color-brown-300);
    border-bottom: 1.5px solid var(--color-brown-300);
    margin-left: 139px;
    margin-top: 266px;
}
 

.hot-keyword{

    position: absolute;
    width: 124px;
    height: 220px;
    left: 24px;
    top: 382px;

}


.house_p{
    position: absolute;
    width: 89px;
    height: 28px;
    left: 24px;
    top: 48px;
    color: var(--color-brown-300);
}
.kitchen_p{
    position: absolute;
    width: 89px;
    height: 28px;
    left: 24px;
    top: 48px;
    color: var(--color-green-700);
}
.keyword{
    position: relative;
    margin: 40px auto 0 auto;
    width: 1068px;
    padding-left: 48px;
}

.hot-keyword_kichen > a{
    float: left;
    clear: left;
    display: block;
    margin-top: 6px;

    padding: 6px 10px;
    border: 1px solid var(--color-gray-500);
    color: var(--color-green-700);;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

.hot-keyword_kichen{
    position: absolute;
    width: 124px;
    height: 220px;
    left: 24px;
    top: 382px;
}
.hot-keyword >a{
    float: left;
    clear: left;
    display: block;
    margin-top: 6px;

    padding: 6px 10px;
    border: 1px solid  var(--color-gray-500);
    color: var(--color-brown-300);
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
}

li{
    list-style: none;
}

.title{    
    position: absolute;
    z-index: 2;
    width: 114px;
    padding: 40px 0 0 22px;
}

.best-item{
    position: relative;
    float: right;
    width: 548px;
    height: 600px;
    overflow: hidden;


}

.list-item{
    display: flex;
    margin-right: 16px;

}
.list-item::before{
    content: "";
    position: absolute;
    left: 4.1%;
    right: 0%;
    top: 49.93%;
    bottom: 50%;
    border-bottom: 1px solid var(--color-gray-600);
}


ul{
    display: flex;
    width: 568px;
    flex-wrap: wrap;
    margin-top: 9px;
    margin-bottom: 9px;
    
}

ul > li{
    width: 160px;
    height: 300px;
    left: 862px;
    top: 9px;
}

span{

    font-weight: 400;
    font-size: 14px;
    line-height: 120%; 
}

img{
    vertical-align: top;
}

.name{

    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    width: 152px;
    height: 51px;
    display: block;
}
.price >strong{
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}

.price{
    margin-top: 3px;
    line-height: 16px;
    display: block;
    font-size: 14px;

    
}
.product-img{
    width: 160px;
    height: 300px;    
    margin-top: 9px;
}

.product-img > img{
    text-align: center;
    width: 160px;
    height: 160px;
}


.name-detail{
    color: var(--color-red-500);
}
h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 260px;
    height: 46px;
    
    position: absolute;
    top: 217px;
    left: 240px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.section-detail{
    width: 96px;
    height: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
}


.line {
    border-bottom: 1px solid var(--color-gray-600);
}

.cur-warpper{

    position: absolute;
    width: 320px;
    height: 631px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin-left: 174px;
  
}



.cur{    
    left: 0px;
    top: 0px;
    position: absolute;
    width: 320px;
    height: 631px;
    left: 174px;
}


.cur-warpper > div{
    position: absolute;
    left: 0;
    transition: 0.3s ease;
    opacity: 1;

}

.cur-warpper>div.on{
    opacity: 1;
  }

  .control{    
    text-align: center;         
    width: 32px;
    height: 12px;
    top: 597px;
    left: 144px;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 2px;
    position: absolute;
  }

.on {
    text-align: center;         
    width: 12px;
    height: 12px;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 2px;
    position: absolute;    
    left: 164px;
    background: var(--color-gray-600);


  }

.on1{

    text-align: center;
    width: 12px;
    height: 12px;
    line-height: 26px;
    font-size: 0.8em;
    border-radius: 14px;
    margin: 0 8px;
    position: absolute;
    left: 144px;
    background: var(--color-gray-700);
    
}

  .caption{
    position: absolute;
    width: 260px;
    height: 90px;
    left: 30px;
    top: 483px;
    background-color: var(--color-brown-300);
  }


  .caption-1{
    position: absolute;
    width: 205px;
    height: 24px;
    left: 28px;
    top: 19px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: var(--color-white);
  }
  .caption-2{
    position: absolute;
    width: 215px;
    height: 19px;
    left: 23px;
    top: 51px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: var(--color-white);
  }

  .main_2{  
    position: absolute;
    width: 1022px;
    height: 634px;
    left: 0px;
    top: 728px;
    border-top: 1.5px solid var(--color-brown-300);
    border-bottom: 1.5px solid var(--color-brown-300);
    margin-left: 139px;
    margin-top: 290px;

  }
  .h2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 260px;
height: 28px;
  }

  .h2-cotegory{
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .h2-thing{
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    display: flex;
    align-items: center;
    color: var(--color-blue-600);
  }